<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Honememo.Wptscs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Honememo.Wptscs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Honememo.Wptscs.Properties.Settings>
      <setting name="DefaultUserAgent" serializeAs="String">
        <value>Translation Support for Wikipedia/{0}.{1:D2}</value>
      </setting>
      <setting name="WikipediaLocation" serializeAs="String">
        <value>http://{0}.wikipedia.org</value>
      </setting>
      <setting name="MediaWikiMagicWords" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CURRENTYEAR</string>
            <string>CURRENTMONTH</string>
            <string>CURRENTMONTHNAME</string>
            <string>CURRENTMONTHNAMEGEN</string>
            <string>CURRENTMONTHABBREV</string>
            <string>CURRENTDAY</string>
            <string>CURRENTDAY2</string>
            <string>CURRENTDOW</string>
            <string>CURRENTDAYNAME</string>
            <string>CURRENTTIME</string>
            <string>CURRENTHOUR</string>
            <string>CURRENTWEEK</string>
            <string>CURRENTTIMESTAMP</string>
            <string>LOCALYEAR</string>
            <string>LOCALMONTH</string>
            <string>LOCALMONTHNAME</string>
            <string>LOCALMONTHNAMEGEN</string>
            <string>LOCALMONTHABBREV</string>
            <string>LOCALDAY</string>
            <string>LOCALDAY2</string>
            <string>LOCALDOW</string>
            <string>LOCALDAYNAME</string>
            <string>LOCALTIME</string>
            <string>LOCALHOUR</string>
            <string>LOCALWEEK</string>
            <string>LOCALTIMESTAMP</string>
            <string>SITENAME</string>
            <string>SERVER</string>
            <string>SERVERNAME</string>
            <string>DIRMARK</string>
            <string>DIRECTIONMARK</string>
            <string>SCRIPTPATH</string>
            <string>STYLEPATH</string>
            <string>CURRENTVERSION</string>
            <string>CONTENTLANGUAGE</string>
            <string>CONTENTLANG</string>
            <string>REVISIONID</string>
            <string>REVISIONDAY</string>
            <string>REVISIONDAY2</string>
            <string>REVISIONMONTH</string>
            <string>REVISIONYEAR</string>
            <string>REVISIONTIMESTAMP</string>
            <string>REVISIONUSER</string>
            <string>PAGESIZE</string>
            <string>PROTECTIONLEVEL</string>
            <string>DISPLAYTITLE</string>
            <string>DEFAULTSORT</string>
            <string>DEFAULTSORTKEY</string>
            <string>DEFAULTCATEGORYSORT</string>
            <string>NUMBEROFPAGES</string>
            <string>NUMBEROFARTICLES</string>
            <string>NUMBEROFFILES</string>
            <string>NUMBEROFEDITS</string>
            <string>NUMBEROFVIEWS</string>
            <string>NUMBEROFUSERS</string>
            <string>NUMBEROFADMINS</string>
            <string>NUMBEROFACTIVEUSERS</string>
            <string>PAGESINCATEGORY</string>
            <string>PAGESINCAT</string>
            <string>NUMBERINGROUP</string>
            <string>NUMINGROUP</string>
            <string>PAGESINNS</string>
            <string>PAGESINNAMESPACE</string>
            <string>FULLPAGENAME</string>
            <string>PAGENAME</string>
            <string>BASEPAGENAME</string>
            <string>SUBPAGENAME</string>
            <string>SUBJECTPAGENAME</string>
            <string>TALKPAGENAME</string>
            <string>FULLPAGENAMEE</string>
            <string>PAGENAMEE</string>
            <string>BASEPAGENAMEE</string>
            <string>SUBPAGENAMEE</string>
            <string>SUBJECTPAGENAMEE</string>
            <string>TALKPAGENAMEE</string>
            <string>NAMESPACE</string>
            <string>SUBJECTSPACE</string>
            <string>ARTICLESPACE</string>
            <string>TALKSPACE</string>
            <string>NAMESPACEE</string>
            <string>SUBJECTSPACEE</string>
            <string>TALKSPACEE</string>
            <string>localurl</string>
            <string>fullurl</string>
            <string>filepath</string>
            <string>urlencode</string>
            <string>anchorencode</string>
            <string>ns</string>
            <string>lc</string>
            <string>lcfirst</string>
            <string>uc</string>
            <string>ucfirst</string>
            <string>formatnum</string>
            <string>#dateformat</string>
            <string>#formatdate</string>
            <string>padleft</string>
            <string>padright</string>
            <string>plural</string>
            <string>grammar</string>
            <string>int</string>
            <string>#language</string>
            <string>#special</string>
            <string>#tag</string>
            <string>gender</string>
            <string>groupconvert</string>
            <string>#expr</string>
            <string>#if</string>
            <string>#ifeq</string>
            <string>#ifexist</string>
            <string>#ifexpr</string>
            <string>#switch</string>
            <string>#time</string>
            <string>#rel2abs</string>
            <string>#titleparts</string>
            <string>#iferror</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MediaWikiExportPath" serializeAs="String">
        <value>/wiki/Special:Export/$1</value>
      </setting>
      <setting name="Bracket" serializeAs="String">
        <value> ($1) </value>
      </setting>
      <setting name="MediaWikiRedirect" serializeAs="String">
        <value>#REDIRECT</value>
      </setting>
      <setting name="MediaWikiTemplateNamespace" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MediaWikiCategoryNamespace" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MediaWikiFileNamespace" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ConfigurationCompatible" serializeAs="String">
        <value>1.20.0.0</value>
      </setting>
      <setting name="MediaWikiMetaApi" serializeAs="String">
        <value>/w/api.php?format=xml&amp;action=query&amp;meta=siteinfo&amp;siprop=namespaces|namespacealiases|interwikimap</value>
      </setting>
      <setting name="MediaWikiInterwikiPrefixs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>acronym</string>
            <string>advogato</string>
            <string>annotationwiki</string>
            <string>arxiv</string>
            <string>c2find</string>
            <string>cache</string>
            <string>commons</string>
            <string>corpknowpedia</string>
            <string>dictionary</string>
            <string>disinfopedia</string>
            <string>docbook</string>
            <string>doi</string>
            <string>drumcorpswiki</string>
            <string>dwjwiki</string>
            <string>emacswiki</string>
            <string>elibre</string>
            <string>foldoc</string>
            <string>foxwiki</string>
            <string>freebsdman</string>
            <string>gej</string>
            <string>gentoo-wiki</string>
            <string>google</string>
            <string>googlegroups</string>
            <string>hammondwiki</string>
            <string>hewikisource</string>
            <string>hrwiki</string>
            <string>imdb</string>
            <string>jargonfile</string>
            <string>jspwiki</string>
            <string>keiki</string>
            <string>kmwiki</string>
            <string>linuxwiki</string>
            <string>lojban</string>
            <string>lqwiki</string>
            <string>lugkr</string>
            <string>mathsongswiki</string>
            <string>meatball</string>
            <string>mediazilla</string>
            <string>mediawikiwiki</string>
            <string>memoryalpha</string>
            <string>metawiki</string>
            <string>metawikipedia</string>
            <string>moinmoin</string>
            <string>mozillawiki</string>
            <string>mw</string>
            <string>oeis</string>
            <string>openfacts</string>
            <string>openwiki</string>
            <string>patwiki</string>
            <string>pmeg</string>
            <string>ppr</string>
            <string>pythoninfo</string>
            <string>rfc</string>
            <string>s23wiki</string>
            <string>seattlewiki</string>
            <string>seattlewireless</string>
            <string>senseislibrary</string>
            <string>slashdot</string>
            <string>sourceforge</string>
            <string>squeak</string>
            <string>susning</string>
            <string>svgwiki</string>
            <string>tavi</string>
            <string>tejo</string>
            <string>tmbw</string>
            <string>tmnet</string>
            <string>tmwiki</string>
            <string>theopedia</string>
            <string>twiki</string>
            <string>uea</string>
            <string>unreal</string>
            <string>usemod</string>
            <string>vinismo</string>
            <string>webseitzwiki</string>
            <string>why</string>
            <string>wiki</string>
            <string>wikia</string>
            <string>wikibooks</string>
            <string>wikicities</string>
            <string>wikif1</string>
            <string>wikihow</string>
            <string>wikinfo</string>
            <string>wikimedia</string>
            <string>wikinews</string>
            <string>wikiquote</string>
            <string>wikipedia</string>
            <string>wikisource</string>
            <string>wikispecies</string>
            <string>wikitravel</string>
            <string>wikiversity</string>
            <string>wikt</string>
            <string>wiktionary</string>
            <string>wlug</string>
            <string>zwiki</string>
            <string>zzz wiki</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ConfigurationExtension" serializeAs="String">
        <value>.xml</value>
      </setting>
    </Honememo.Wptscs.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Honememo.Wptscs.Properties.Settings>
      <setting name="SaveDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedSource" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="LastSelectedTarget" serializeAs="String">
        <value />
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value />
      </setting>
      <setting name="Referer" serializeAs="String">
        <value />
      </setting>
      <setting name="CacheExpire" serializeAs="String">
        <value>15.00:00:00</value>
      </setting>
      <setting name="IsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxConnectRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ConnectRetryTime" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="LastSelectedLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedConfiguration" serializeAs="String">
        <value>Wikipedia</value>
      </setting>
    </Honememo.Wptscs.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
