<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Honememo.Wptscs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Honememo.Wptscs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Honememo.Wptscs.Properties.Settings>
      <setting name="ConfigurationFile" serializeAs="String">
        <value>config.xml</value>
      </setting>
      <setting name="DefaultUserAgent" serializeAs="String">
        <value>WikipediaTranslationSupportTool/{0}.{1:D2}</value>
      </setting>
      <setting name="WikipediaLocation" serializeAs="String">
        <value>http://{0}.wikipedia.org</value>
      </setting>
      <setting name="MediaWikiMagicWordsVariables" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CURRENTDAY</string>
            <string>CURRENTDAY2</string>
            <string>CURRENTDAYNAME</string>
            <string>CURRENTDOW</string>
            <string>CURRENTMONTH</string>
            <string>CURRENTMONTHABBREV</string>
            <string>CURRENTMONTHNAME</string>
            <string>CURRENTTIME</string>
            <string>CURRENTHOUR</string>
            <string>CURRENTWEEK</string>
            <string>CURRENTYEAR</string>
            <string>CURRENTTIMESTAMP</string>
            <string>CURRENTVERSION</string>
            <string>NUMBEROFEDITS</string>
            <string>NUMBEROFEDITS:R</string>
            <string>NUMBEROFARTICLES</string>
            <string>NUMBEROFARTICLES:R</string>
            <string>NUMBEROFPAGES</string>
            <string>NUMBEROFPAGES:R</string>
            <string>NUMBEROFFILES</string>
            <string>NUMBEROFFILES:R</string>
            <string>NUMBEROFUSERS</string>
            <string>NUMBEROFUSERS:R</string>
            <string>NUMBEROFACTIVEUSERS</string>
            <string>NUMBEROFACTIVEUSERS:R</string>
            <string>NUMBEROFADMINS</string>
            <string>NUMBEROFADMINS:R</string>
            <string>NUMBERINGROUP:groupname</string>
            <string>NUMBERINGROUP:groupname|R</string>
            <string>NUMBERINGROUP:bureaucrat|R</string>
            <string>PAGESINNAMESPACE</string>
            <string>PAGESINNS:ns</string>
            <string>PAGESINNS:ns|R</string>
            <string>PAGENAME</string>
            <string>PAGENAMEE</string>
            <string>BASEPAGENAME</string>
            <string>BASEPAGENAMEE</string>
            <string>SUBPAGENAME</string>
            <string>SUBPAGENAMEE</string>
            <string>NAMESPACE</string>
            <string>NAMESPACEE</string>
            <string>FULLPAGENAME</string>
            <string>FULLPAGENAMEE</string>
            <string>TALKSPACE</string>
            <string>TALKSPACEE</string>
            <string>SUBJECTSPACE</string>
            <string>SUBJECTSPACEE</string>
            <string>ARTICLESPACE</string>
            <string>ARTICLESPACEE</string>
            <string>TALKPAGENAME</string>
            <string>TALKPAGENAMEE</string>
            <string>SUBJECTPAGENAME</string>
            <string>SUBJECTPAGENAMEE</string>
            <string>ARTICLEPAGENAME</string>
            <string>ARTICLEPAGENAMEE</string>
            <string>REVISIONID</string>
            <string>REVISIONDAY</string>
            <string>REVISIONDAY2</string>
            <string>REVISIONMONTH</string>
            <string>REVISIONYEAR</string>
            <string>REVISIONTIMESTAMP</string>
            <string>SITENAME</string>
            <string>SERVER</string>
            <string>SCRIPTPATH</string>
            <string>SERVERNAME</string>
            <string>PAGESINCATEGORY:category</string>
            <string>PAGESINCATEGORY:category|R</string>
            <string>PAGESINCATEGORY:User en|R</string>
            <string>PAGESINCAT:category</string>
            <string>PAGESINCAT:category|R</string>
            <string>PAGESINCAT:User en|R</string>
            <string>PAGESIZE:page</string>
            <string>PAGESIZE:page|R</string>
            <string>PAGESIZE:Help:Magic_words|R</string>
            <string>GENDER:username|TEXTIFMALE|TEXTIFFEMALE|TEXTIFUNSPECIFIED</string>
            <string>CONTENTLANGUAGE</string>
          </ArrayOfString>
        </value>
      </setting>
    </Honememo.Wptscs.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Honememo.Wptscs.Properties.Settings>
      <setting name="SaveDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedSource" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="LastSelectedTarget" serializeAs="String">
        <value />
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value />
      </setting>
      <setting name="Referer" serializeAs="String">
        <value />
      </setting>
    </Honememo.Wptscs.Properties.Settings>
  </userSettings>
</configuration>