*.suo
*.bak
.project
.settings
TestResult.xml
*.sln.VisualState.xml
*.chm
*.chw
*.shfbproj_*
Help
TestResults
*/bin
*/obj
*/*.csproj.user
*/*.Cache
Installer/*.wixobj
Installer/*.wixpdb
Installer/*.msi
Installer/*.mst
Installer/*.exe
Installer/*.zip
!.gitkeep
